<h1>My Profile</h1>

<%= form_with model: Current.user, url: profile_path do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", value: Current.user.name %>
  </div>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", value: Current.user.email%>
  </div>
  <div class="mb-3">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", value: Current.user.address %>
  </div>
  <div class="mb-3">
    <%= form.label :employee_role %>
    <%= form.text_field :employee_role, class: "form-control", value: Current.user.employee_role.name, readonly: true %>
  </div>
  <div class="mb-3">
    <%= form.label :salary %>
    <%= form.text_field :salary, class: "form-control", value: Current.user.salary, readonly: true %>
  </div>

  <div class="mb-3">
    <ul class="list-group">
        <% unless Current.user.departments.empty? %>
            <%= form.label :departments %>
        <% end %>
        <% for department in Current.user.departments do %>
            <li class="list-group-item">
                <%= department.name %>
            </li>
        <% end %>
    </ul>
  </div>

  <div class="mb-3">
    <ul class="list-group">
        <% unless Current.user.tasks.empty? %>
            <%= form.label :tasks %>
        <% end %>
        <% for task in Current.user.tasks do %>
            <li class="list-group-item">
                <%= task.name %>
            </li>
        <% end %>
    </ul>
  </div>


  <div class="mb-3">

  <div class="mb-3">
    <%= form.submit "Update", class: "btn btn-primary" %>
    <%= link_to "Reset password", edit_password_path, method: :get, class: "btn btn-outline-secondary" %>
  </div>
<% end %>