<div class="d-flex align-items-center justify-content-between mb-5">
  <h1>My Employees</h1>
  <%= link_to "Add new employee", employee_add_path, class:"btn btn-secondary" %>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for employee in @my_employees do %>
      <tr>
        <th scope="row"><%= employee.id %></th>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td>
          <div class="d-flex">
            <%= link_to "Edit", employee_profile_path(employee.id), class:"btn btn-primary" %>
            <%= button_to "Delete", employee_profile_path(employee.id), method: :delete, class: "btn btn-danger ms-3" %> 
          </div>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>