

<div class="d-flex align-items-center justify-content-center mb-5">
    <div class="m-5">
        <div class="card mb-3">
            <%= image_tag "xin_sui_img.webp", class: "card-img-top", alt: "Xin Sui Reflexology" %>
            <div class="card-body">
                <h5 class="card-title">Start Booking</h5>

                <%= form_with url: reservation_search_path, method: "get" do |form| %>
                    <div class="mb-3">
                        <%= form.label :select_date, class: "form-label" %>
                        <%= form.date_select :selected_date, {}, class: "form-select mb-1" %>
                    </div>
                    <div class="mb-3">
                        <%= form.label :location, class: "form-label" %>
                        <%= form.collection_select :location_id, Location.all, :id, :city , {} , class: "form-select" %>
                    </div>

                    <div class="mb-3">
                        <%= form.submit "Search", class: "btn btn-primary" %>
                    </div>
                <% end %>

            </div>
        </div> 
    </div>
</div>
